{
    "HOMESERVER": "https://matrix.org",
    "BOT_USER_ID": "@test-bot:matrix.org",
    "BOT_PASSWORD": "MySecret",
    "STORE_PATH": "bot_store",
    "COMMAND_PREFIX": "!",
    "BE_DAEMON": true,
    "PID_FILE": "matrix-personal-bot.pid",
    "LOG_FILE": "matrix-personal-bot.log",
    "LOG_FORMAT": "%(asctime)s %(levelname)s %(message)s",
    "LOG_LEVEL": "DEBUG",
    "MAIN_LOOP_INTERRUPT_MSEC": 5000,
    "RETRY_SEC": 15,
    "CRONTAB": {
        "cleanup": "* * * * *"
    }
}
